<div class="field-container">
    <label class="label" for="name">Nome</label>
    <input
        name="name"
        type="text"
        id="name"
        class="field {% if validationErrorMessages.name %}error{% endif %}"
        value="{{chef.name}}"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.name %}
        <span class="error-message">{{validationErrorMessages.name}}</span>
    {% endif %}
</div>

<div class="field-container">
    <label class="label" for="avatar">Avatar</label>
    {% if chef.avatar %}
        <input
            name="avatar"
            type="text"
            id="avatar"
            class="field"
            disabled
            title="Link do seu avatar"
            value="{{chef.avatar}}"
        />
    {% endif %}
    <button class="button avatar-upload">
        <input
            class="photos-input"
            type="file" name="avatar"
            id="avatar"
            accept="image/*"
            onchange="AvatarUpload.selected(event)"
        />
        <span>Enviar Avatar</span>
    </button>
</div>
