<div class="field-container"> 
    <label class="label" for="name">Nome</label>
    <input name="name" type="text" id="name" class="field" value="{{chef.name}}"/>
</div>

<div class="field-container"> 
    <label class="label" for="author">Avatar</label>
    <input name="avatar_url" type="url" id="avatar_url" class="field" value="{{chef.avatar_url}}"/>
</div>
