{% extends "public/layout.njk" %}

{% block head %}
<link rel="stylesheet" href="/styles/about.css">
<title>Foodfy | Sobre</title>
{% endblock %}

{% block content %}
<section class="about-section">
    <article class="about container">
        <h1 class="about__title">Sobre o Foodfy</h1>
        <p class="about__text">
                Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                Aliquam vel lacus a justo mollis luctus.
                Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. 
                Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. 
                Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. 
                Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
            </p>
        <br/>
        <p class="about__text">
                Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. 
                Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. 
                Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. 
                Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. 
                Nunc ut nulla faucibus enim ultricies euismod.
            </p>
    </article>

    <article class="about container">
        <h2 class="text about__subtitle">Como tudo começou…</h2>
        <p class="text about__text">
            Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
            Aliquam vel lacus a justo mollis luctus.
            Proin vel auctor eros, sed eleifend nunc. Curabitur eget tincidunt risus. 
            Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. 
            Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. 
            Duis vulputate varius justo pharetra maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.
          </p>
        <br/>
        <p class="text about__text">
            Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. 
            Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. 
            Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. 
            Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. 
            Nunc ut nulla faucibus enim ultricies euismod.
          </p>
    </article>

    <article class="about container">
        <h2 class="about__subtitle">Nossas receitas</h2>
        <p class="text about__text">
              Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. 
              Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. 
              Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. 
              Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. 
              Nunc ut nulla faucibus enim ultricies euismod.
            </p>
    </article>
</section>
{% endblock %}