{% extends "public/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/home.css">
    <title>Foodfy | As melhores receitas para você</title>
{% endblock %}

{% block header %}
            <form class="header__search" action="/recipes/search">
                <input type="text" class="field" name="filter" id="filter" {% if filter %} value="{{filter}}" {% endif %} placeholder="Buscar uma receita"/>
                <button class="button" type="submit">Buscar</button>
            </form>
{% endblock %}

{% block content %}
    <section class="info container">
        <div class="box">
            <div class="text">
                <h2 class="title box__title font-lg">As melhores receitas</h2>
                <p class="box__description">
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            <img class="chef" src="/assets/chef.png" alt="Chef" aria-hidden="true" title="chef"/>
        </div>
    </section>
    <!-- info box end -->

    <!-- recipes section init -->
    <section class="recipes container">
        <h3 class="recipes__title title font-md">Mais acessadas</h3>

        <div class="grid grid--three_columns">
            {% for recipe in recipes %}
                <a class="card card--cursor" href="/recipes/{{recipe.id}}">
                    <img class="card__img" src="{{recipe.image}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
                    <div class="card-info">
                        <span class="card-info__title card__title--underline" class="card-info__title">{{recipe.title}}</span>
                        <small class="card-info__subtitle">{{recipe.chef_name}}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}

