{% extends "layouts/admin.njk" %}

{% block head %}
    <title> Foodfy | Criando Chef</title>
{% endblock %}

{% block content %}
    <form
        action="/admin/chefs"
        method="POST"
        enctype="multipart/form-data"
        data-schema="chefs"
        class="submit-form"
    >
        <section class="chefs container">
            <header class="section-header">
                <h1 class="title font-md">Criando chef</h1>
                <div class="actions-container">
                    <button class="button" type="submit">Salvar chef</button>
                </div>
            </header>
            {% include "includes/chefs/fields.njk" %}
        </section>
    </form>
{% endblock %}
