{% extends "admin/layouts/main.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipe.css"/>
    <title> Foodfy Admin | Editando Chef
    </title>
{% endblock %}

{% block content %}
    <form id="deleteForm" class="recipes recipes--admin container" style="display: none;" action="/admin/chefs/{{chef.id}}?_method=DELETE" method="POST"></form>
    <form id="updateForm" class="recipes recipes--admin container" action="/admin/chefs/{{chef.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="row">
            <h1 class="title font-md">Editando chef</h1>
            <div class="actions-container">
                <input
                    class="button button--delete font-xs"
                    onclick="DeleteAlert.run(event, 'Você tem certeza que deseja deletar esse chef?')"
                    type="submit" form="deleteForm"
                    value="Deletar"
                />
                <input class="button font-xs" type="submit" form="updateForm" value="Salvar chef" />
            </div>
        </div>
        <section class="recipe__form container">
                {% include "includes/chefs/fields.njk" %}
        </section>
    </form>
{% endblock %}
