{% extends "layouts/admin.njk" %}

{% block head %}
    <title> Foodfy | Editando Chef</title>
{% endblock %}

{% block content %}
    <form
        id="deleteForm"
        class="recipes recipes---admin container"
        style="display: none;"
        action="/admin/chefs/{{chef.id}}?_method=DELETE"
        method="POST">
    </form>
    <form
        id="updateForm"
        class="submit-form"
        action="/admin/chefs/{{chef.id}}?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        data-schema="chefs"
    >
        <section class="chefs container">
            <header class="section-header">
                <h1 class="title font-md">Editando chef</h1>
                <div class="actions-container">
                    <input
                        class="button button--delete"
                        onclick="DeleteAlert.run(event, 'Você tem certeza que deseja deletar esse chef?')"
                        type="submit"
                        form="deleteForm"
                        value="Deletar"
                    />
                    <input class="button" type="submit" form="updateForm" value="Salvar chef" />
                </div>
            </header>
            <section class="recipe__form container">
                    {% include "includes/chefs/fields.njk" %}
            </section>
        </section>
    </form>
{% endblock %}
