{% extends "admin/layouts/main.njk" %}

{% block head %}
    <title>Foodfy | Gerenciar Chefs</title>
{% endblock %}

{% block content %}
<section class="chefs container">
    <section class="section-header">
        <h1 class="title font-md">Gerenciar chefs<h1/>
        <a class="button" href="/admin/chefs/create">Criar chef</a>
    </section>
    <div class="grid grid--four-columns">
        {% for chef in chefs %}
            <div class="card--secondary">
                <img class="card__img---rounded" src="{{chef.avatar}}" alt="Receita de {{chef.name}}" title="{{chef.name}}" aria-hidden="true"/>
                <div class="card-info">
                    <span class="card-info__title">{{chef.name}}</span>
                    <a class="card-info__action" href="/admin/chefs/{{chef.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
    <!-- recipes section end -->
{% endblock %}
