{% if error %}
  <div class="message message---error show">
    <span>{{error}}</span>
  </div>
{% endif %}

{% if success %}
  <div class="message message---success show">
    <span>{{success}}</span>
  </div>
{% endif %}
