<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
<script src="/scripts/components.js"></script>
<script src="/scripts/handlers.js"></script>
<script src="/scripts/upload.js"></script>
<script src="/scripts/validators.js"></script>
