{% extends "layouts/admin.njk" %}

{% block head %}
    <title>Foodfy | {{__("Manage")}} {{__("users")}} </title>
{% endblock %}

{% block content %}
    <!-- users section init -->
    <section class="users container">
        <header class="section-header">
            <h1 class="title font-md">{{__("Manage")}} {{__("users")}}<h1/>
            <a class="button" href="/admin/users/create">{{__("buttons.new")}}</a>
        </header>
        <div class="grid users-grid">
            {% for registerUser in users %}
                <div class="user-card">
                    <form
                        id="deleteForm"
                        style="display: none;"
                        action="/admin/users/{{registerUser.id}}?_method=DELETE"
                        method="POST">
                    </form>
                    <span class="user-card__username">{{registerUser.name}}</span>
                    <span class="user-card__email">{{registerUser.email}}</span>
                    <footer class="user-card__footer">
                        <a
                            href="/admin/users/{{registerUser.id}}/edit"
                            class="user-card__action user-card__edit-user"
                        >
                            {{__("cards.edit")}}
                        </a>
                        <input
                            type="submit"
                            class="user-card__action user-card__remove-user"
                            onclick="DeleteAlert.run(event, 'Você tem certeza que deseja deletar esse usuário?')"
                            value="{{__('cards.remove')}}"
                            form="deleteForm"
                        />
                    </footer>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- users section end -->
{% endblock %}
