.card {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.card--secondary {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: 16px;
}

@media screen and (min-width: 1000px) {
    .card--secondary {
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

.card__img {
    max-width: 300px;
    border-radius: 15px;
    min-height: 120px;
    width: 300px;
    height: 120px;
    object-fit: cover;
}

.card--secondary .card__img {
    width: 172px;
    height: 80px;
    max-width: 172px;
    min-height: 80px;
}

.card--secondary .card__img---rounded {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    object-fit: cover;
}

a.card,
a.card--secondary {
    text-decoration: none;
}

.card .card-info {
    margin-top: 20px;
}

.card-info__title {
    color: $dark;
    font-size: 18px;
    display: block;
}

.card-info__subtitle {
    color: $gray;
    font-size: $font-2xs;
}

body.dark {
    .card-info__subtitle {
        color: $gray-light;
    }

    .card-info__title {
        color: var(--text-color);
        font-weight: bold;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        margin-bottom: 0;
    }
}

.card-info__action {
    color: $purple;
    text-decoration: none;
    display: block;
    font-size: $font-2xs;
    font-weight: bold;
    margin-top: 10px;
}

a.card-info__action:hover {
    text-decoration: underline;
}

.card--cursor {
    cursor: pointer;
}

.card:hover .card__title--underline,
.card--secondary:hover .card__title--underline {
    text-decoration: underline;
}

.user-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-card__username {
    font-size: $font-xs;
    color: $dark;
    margin-bottom: calc(#{$space-xs} / 2);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-card__email {
    font-size: $font-2xs;
    color: $gray;
    margin-bottom: $space-xs;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-card .user-card__footer {
    display: flex;
}

.user-card .user-card__action + .user-card__action {
   margin-left: 16px;
}

.user-card .user-card__remove-user {
    font-size: $font-2xs;
    color: $danger;
}

.user-card .user-card__edit-user {
    font-size: $font-2xs;
    color: $purple;
}

.user-card .user-card__remove-user,
.user-card .user-card__edit-user {
    font-weight: bold;
}

.user-card .user-card__remove-user:hover ,
.user-card .user-card__edit-user:hover {
    filter: grayscale(.3);
}

.user-card button.user-card__remove-user,
.user-card input.user-card__remove-user {
    border: none;
    background: none;
    cursor: pointer;
}

.user-card a.user-card__edit-user {
    text-decoration: none;
}
