.footer {
    background-color: $gray-light;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 62px;
    display: flex;
}

.footer__text {
    color: $gray;
    font-size: 14px;
    margin: auto;
}
