@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

:root { 
    --white: #FFF;
    --rose: #FBDFDB;
    --dark: #111111;
    --black: hsl(0, 0%, 0%);
    --gray: #777777;
    --gray-light: #EEEEEE;
    --gray-medium: #999999;
    --gray-dark: #444444;

    --font-3xs: 12px;
    --font-2xs: 14px;
    --font-xs: 18px;
    --font-sm: 20px;
    --font-md: 24px; 
    --font-lg: 32px;
    --font-xl: 36px;
}

* { 
    margin: 0;
    padding: 0; 
    outline: none;
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
}

button, 
a { 
    cursor: pointer;
}

/* === Utilities / Components === */

.container { 
    max-width: 940px;
    margin: 0 auto;
}

.text { 
    line-height: 28px;
    font-size: var(--font-xs);
    color: var(--gray-dark);
}

.hidden { 
    display: none;
}

.title,
.subtitle { 
    color: var(--dark);
}

.font-xs { 
    font-size: var(--font-xs)
}

.font-sm { 
    font-size: var(--font-sm)
}

.font-md { 
    font-size: var(--font-md)
}

.font-lg { 
    font-size: var(--font-lg)
}

.font-xl { 
    font-size: var(--font-xl)
}

.row { 
    display: flex;
    flex-direction: row;
}

/* === Header === */

.header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.header__nav-link { 
    text-decoration: none;
}

.header__title { 
    color: var(--dark);
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

.header-list { 
    list-style: none;
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.header-list__item:not(:last-child) { 
    margin-right: 30px;
}

.header__link { 
    color: var(--dark);
    text-decoration: none;
}

@media screen and (min-width: 1000px) { 
    .header { 
        flex-direction: row;
        justify-content: unset;
        margin: 0 auto;
    }

    .header nav { 
        flex-grow: 1;
        margin-left: 122.4px;
    }

    .header ul { 
        margin-top: 0;
    }
}

/* === Receitas e Cards === */

.recipes { 
    padding: 50px 0;
}

.recipes__title { 
    color: var(--dark);
    font-size: 24px;
    margin: 0 0 20px 14px;
}

.grid { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card { 
    display: flex;
    flex-direction: column; 
    text-align: left;
    margin-bottom: 20px;
}

.card__img { 
    max-width: 300px;
    min-height: 120px;
    border-radius: 15px;
}

a.card { 
    text-decoration: none;
}

.card .card-info { 
    margin-top: 20px;
}

.card-info__title { 
    color: var(--dark);
    font-size: 18px;
    display: block;
}

.card-info__author { 
    color: var(--gray);
    font-size: 14px;
}

.card--cursor { 
    cursor: pointer;
}

.card:hover .card__title--underline { 
    text-decoration: underline;
}

@media screen and (min-width: 1000px) { 
    .grid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .recipes .title { 
        margin-left: 0;
        font-weight: bold;
    }

    .card { 
        margin-bottom: 0;
    }
}

/* === Footer === */

.footer { 
    background-color: var(--gray-light);
    text-align: center;
    padding: 23px 0px;
}

.footer__text { 
    color: var(--gray);
    font-size: 14px;
}

/* === Buttons === */

.show-button { 
    border: none;
    background: none; 
    color: var(--gray-medium);
    font-weight: bold;
    font-size: var(--font-3xs);
}

.show-button:hover { 
    color: var(--gray);
}
/* === Lists === */

.list { 
    line-height: 28px;
    color: var(--gray-dark);
    font-size: var(--font-xs);
    list-style: none;
}

.list li::before { 
    content: "• ";
    color: var(--black);
}