<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="icon" href="/assets/favicon.ico">
    {% block head %}
        <title>Foodfy Admin | Gerencia suas receitas</title>
    {% endblock %}
</head>
<body>
    <!-- init header -->
    <header class="header header--admin">
        <div class="container">
            <a class="header__link" href="/admin/recipes">
                <h1 class="header__title" >Foodfy</h1>
            </a>

            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-list__item">
                        <a class="header__link header__link---admin js-header__link" href="/admin/recipes">Receitas</a>
                    </li>
                    <li class="header-list__item">
                        <a class="header__link header__link---admin js-header__link" href="/admin/chefs">Chefs</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->

    {% block content %}
    {% endblock %}
    
    <script src="/scripts.js"></script>
</body>
</html>