<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    {% block head %}
        <title>Foodfy Admin</title>
    {% endblock %}
</head>
<body>
    <!-- init header -->
    <header class="header header--admin">
        <div class="container">
            <a class="header__link" href="/admin/recipes">
                <h1 class="header__title" >Foodfy</h1>
            </a>
        </div>
    </header>
    <!-- end header -->

    {% block content %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}
</body>
</html>