{% macro render(chef, showTotalRecipes = false, showViewButton = false) %}
        <div class="card--secondary">
            <img class="card__img---rounded" src="{{chef.avatar}}" alt="Receita de {{chef.name}}" title="{{chef.name}}" aria-hidden="true"/>
            <div class="card-info">
                <span class="card-info__title">{{chef.name}}</span>
                {% if showTotalRecipes %}
                    <span class="card-info__subtitle">{{request.__n("cards.%s recipe", chef.total_recipes)}}</span>
                {% endif %}

                {% if showViewButton %}
                    <a class="card-info__action" href="/admin/chefs/{{chef.id}}">{{request.__("cards.view")}}</a>
                {% endif %}
            </div>
        </div>
{% endmacro %}
