{% macro renderPrimary(recipe) %}
    <a class="card card--cursor" href="/recipes/{{recipe.id}}">
        <img class="card__img" src="{{recipe.photo}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
        <div class="card-info">
            <span class="card-info__title card__title--underline">{{recipe.title}}</span>
            <small class="card-info__subtitle">{{recipe.chef_name}}</small>
        </div>
    </a>
{% endmacro %}

{% macro renderSecondary(recipe) %}
    <div class="card--secondary">
        <img class="card__img" src="{{recipe.photo}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
        <div class="card-info">
            <span class="card-info__title">{{recipe.title}}</span>
            <small class="card-info__subtitle">{{recipe.chef_name}}</small>
            <a class="card-info__action" href="/admin/recipes/{{recipe.id}}">{{request.__("cards.view")}}</a>
        </div>
    </div>
{% endmacro %}
