<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/animations.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="icon" href="/assets/favicon.ico">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      >
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
        rel="stylesheet"
    />
    {% block head %}
        <title>Foodfy | Gerencia suas receitas</title>
    {% endblock %}
</head>
<body>
    <!-- init header -->
    <header class="header header--admin">
        <div class="container">
            <a class="header__link" href="/admin/recipes">
                <h1 class="header__title">Foodfy</h1>
            </a>

            <nav class="header__nav">
                <ul class="header-list">
                    <li class="header-list__item">
                        <a
                          class="header__link header__link---admin js-header__link"
                          href="/admin/recipes"
                        >
                            Receitas
                        </a>
                    </li>
                    <li class="header-list__item">
                        <a
                          class="header__link header__link---admin js-header__link"
                          href="/admin/chefs"
                        >
                            Chefs
                        </a>
                    </li>
                    {% if user.is_admin %}
                        <li class="header-list__item">
                            <a
                            class="header__link header__link---admin js-header__link"
                            href="/admin/users"
                            >
                            Usuários
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

            <a
              class="header__link header__link---account header__link---admin js-header__link"
              href="/admin/profile"
            >
                Minha Conta
            </a>
            <form
                action="/admin/logout?_method=DELETE"
                method="POST"
            >
                <button type="submit" class="header__link header__link---admin">Sair</button>
            </form>
        </div>
    </header>
    <!-- end header -->

    {% include "includes/messages.njk" %}
    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>
</body>
</html>
