// COLORS
$white: #FFF;
$rose: #FBDFDB;
$dark: #111111;
$black: #000;
$gray: #777777;
$gray-light: #EEEEEE;
$gray-medium: #999999;
$gray-medium-secondary: #969696;
$gray-dark: #444444;
$purple: #6558C3;
$danger: #DC4747;
$error: #FF3131;
$cancel: #8A8A8A;
$success: #01B12A;

// STATUS COLORS
$success-color: #01B12A;
$warning-color: #F1DF50;
$cancel-color: #8A8A8A;

// SPACING
$space-2xs: 8px;
$space-xs: 16px;
$space-sm: 20px;
$space-md: 30px;
$space-lg: 40px;
$space-xl: 50px;
$space-2xl: 60px;

// BREAKPOINTS
$screen-xs: 400px;
$screen-sm: 575px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1199px;

// FONT SIZES
$font-3xs: 12px;
$font-2xs: 14px;
$font-xs: 18px;
$font-sm: 20px;
$font-md: 24px;
$font-lg: 32px;
$font-xl: 36px;

// Z-INDEX
$z-index-default: 1036;

// APP WRAPPER
$header-height: 40px;
$subheader-height: 40px;
$footer-height: 60px;
$app-content-margin-bottom: 30px;
$app-content-margin-top: 30px;
