
<div class="field-container"> 
    <label class="label" for="image">Imagem da receita</label>
    <input name="image" type="url" id="image" class="field" value="{{recipe.image}}"/>
</div>

<div class="field-container"> 
    <label class="label" for="title">Título da receita</label>
    <input name="title" type="text" id="title" class="field" value="{{recipe.title}}"/>
</div>

<div class="field-container"> 
    <label class="label" for="author">Chef</label>
    <select name="chef_id" class="field field---select" value="{{recipe.chef_id}}">
        <option value="" disabled selected>Selecione um chef</option>
    </select>
</div>

<div class="field-container"> 
  <div id="ingredients">
    <label class="label" for="ingredients">Ingredientes</label>
        {% if recipe.ingredients.length > 1 %}
            {% for ingredient in recipe.ingredients %}
                <input type="text" class="field" name="ingredients[]" value="{{ingredient}}"/>
            {% endfor %}
        {% else %}
            <input type="text" class="field" name="ingredients[]"/>
        {% endif %}
  </div>
  <button class="field-container__action" type="button">Adicionar novo ingrediente</button>
</div>

<div class="field-container"> 
    <div id="preparations">
        <label class="label" for="preparations">Modo de preparo</label>
        {% if recipe.preparations.length > 1 %}
            {% for preparation in recipe.preparations %}
                <input type="text" class="field" name="preparations[]" value="{{preparation}}"/>
            {% endfor %}
        {% else %}
            <input type="text" class="field" name="preparations[]"/>
        {% endif %}
     </div>
    <button class="field-container__action" type="button">Adicionar novo passo</button>
</div>

<div class="field-container"> 
    <label class="label" for="information">Informações adicionais</label>
    <textarea name="information" id="information" class="field" rows="8">{{recipe.information}}</textarea>
</div>
