{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy | Chefs </title>
{% endblock %}

{% block content %}
<section class="recipes recipes--admin container">
    <div class="grid grid--four-columns">
        {% for chef in chefs %}
            <div class="card--secondary">
                <img class="card__img---rounded" src="{{chef.avatar}}" alt="Receita de {{chef.name}}" title="{{chef.name}}" aria-hidden="true"/>
                <div class="card-info">
                    <span class="card-info__title">{{chef.name}}</span>
                    <span class="card-info__subtitle">{{chef.total_recipes}}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
    <!-- recipes section end -->
{% endblock %}
