{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block header %}
            <form class="header__search" action="/recipes/search">
                <input type="text" class="field" name="filter" id="filter" value="{{filter}}" placeholder="Buscar uma receita"/>
                <button class="button button---search" type="submit">Buscar</button>
            </form>
{% endblock %}

{% block content %}
<section class="recipes container">
    <div class="grid grid--three-columns">
    {% for recipe in recipes %}
        <a class="card card--cursor" href="/recipes/{{recipe.id}}"}}>
            <img class="card__img" src="{{recipe.photo}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
            <div class="card-info">
                <span class="card-info__title card__title--underline">{{recipe.title}}</span>
                <small class="card-info__subtitle">{{recipe.chef_name}}</small>
            </div>
        </a>
    {% endfor %}
    </section>
    <!-- recipes section end -->
{% endblock %}
