<div class="field-container">
    <label class="label" for="name">Nome</label>
    <input
        type="text"
        name="name"
        id="name"
        class="field {% if validationErrorMessages.name %}error{% endif %}"
        value="{{user.name}}"
        placeholder="Digite o nome completo"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.name %}
        <span class="error-message">{{validationErrorMessages.name}}</span>
    {% endif %}
</div>

<div class="field-container">
    <label class="label" for="email">Email</label>
    <input
        type="email"
        name="email"
        id="email"
        class="field {% if validationErrorMessages.email %}error{% endif %}"
        value="{{user.email}}"
        placeholder="Digite o email"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.email %}
        <span class="error-message">{{validationErrorMessages.email}}</span>
    {% endif %}
</div>

<div class="field-container">
    <label class="label" for="email">Senha</label>
    <input
        type="password"
        name="password"
        id="password"
        class="field {% if validationErrorMessages.password %}error{% endif %}"
        placeholder="Digite a senha"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.password %}
        <span class="error-message">{{validationErrorMessages.password}}</span>
    {% endif %}
</div>
