<div class="field-container">
    <label class="label" for="name">Nome</label>
    <input
        type="text"
        name="name"
        id="name"
        class="field"
        value="{{user.name}}"
        placeholder="Digite o nome completo"
    />
</div>

<div class="field-container">
    <label class="label" for="email">Email</label>
    <input
        type="email"
        name="email"
        id="email"
        class="field"
        value="{{user.email}}"
        placeholder="Digite o email"
    />
</div>

<div class="field-container">
    <label class="label" for="email">Senha</label>
    <input
        type="password"
        name="password"
        id="password"
        class="field"
        placeholder="Digite a senha"
    />
</div>
