.about-section { 
    padding: 0 15px;
}

@media screen and (min-width: 1000px) { 
    .about-section {
        margin-top: 50px;
        padding: 0;
    }
}

.about { 
    margin-bottom: 30px;
}

.about__title {
    font-size: 24px;
    margin-bottom: 30px;
}

.about__subtitle { 
    font-size: 20px;
    margin-bottom: 20px;
}

.about__title, 
.about__subtitle { 
    color: var(--dark);
    font-weight: bold;
}

.about__text { 
    color: var(--gray-dark);
    font-size: 18px;
    line-height: 28px;
}



