.about-section { 
    padding: 0 15px;
}

@media screen and (min-width: 1000px) { 
    .about-section {
        margin-top: var(--space-xl);
        padding: 0;
    }
}

.about { 
    margin-bottom: var(--space-md);
}

.about__title {
    font-size: var(--font-md);
    margin-bottom: var(--space-md);
}

.about__subtitle { 
    font-size: var(--font-sm);
    margin-bottom: var(--space-sm);
}

.about__title, 
.about__subtitle { 
    color: var(--dark);
    font-weight: bold;
}

.about__text { 
    color: var(--gray-dark);
    font-size: var(--font-xs);
    line-height: calc(var(--space-sm) + var(--space-2xs));
}



