.recipes.recipes--admin > .row,
.chefs.chefs--admin > .row { 
    margin: 0 var(--space-2xs) var(--space-md);
    justify-content: space-between;
}

@media screen and (min-width: 1000px) {
    .recipes.recipes--admin > .row,
    .chefs.chefs--admin > .row { 
        margin: 0 0 var(--space-md);
    }
}

.actions-container { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .actions-container { 
        flex-direction: row;
    }
}

.actions-container .button + .button { 
    margin-top: var(--space-2xs);
}

@media screen and (min-width: 1000px) {
    .actions-container .button + .button { 
        margin-left: var(--space-xs);
        margin-top: 0;
    }
}
