


.details__image---big { 
    width: 300px;
    height: 120px;
    border-radius: 15px;
}

.details__image---rounded { 
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.details__info { 
    text-align: center;
}

.details__title { 
    margin-top: var(--space-sm);
}

.details__subtitle { 
    font-size: var(--font-md);
    color: var(--gray);
    font-weight: 400;
    margin-bottom: var(--space-sm);
}

.row .show-button { 
    margin-left: var(--space-2xs);
    align-self: center;
}

.recipes .row { 
    margin-bottom: var(--space-sm);
    margin-top: calc(var(--space-lg) + 6px);
}

.recipe__info,
.recipe__ingredients,
.recipe__preparation,
.recipe__information { 
    padding: 0 calc(var(--space-2x) + 2px);
}

@media screen and (min-width: 1000px) { 
    .details__image---big { 
        min-height: 280px;
        min-width: 940px;
    }

    .details__title { 
        margin-top: var(space-lg);
    }
    
    .details__author { 
        margin-bottom: var(space-lg);
    }

    .details__info,
    .recipe_ingredients,
    .recipe_preparation { 
        padding: 0;
    }
}

.chef-recipes { 
    margin-top: var(--space-xl);
}

.chef-recipes .title { 
    margin-bottom: var(--space-md);
}