.box { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--rose);
    padding: 0px var(--space-sm);
    border-radius: var(--space-md);
    margin: 0 var(--space-xs);
}

.box__title { 
    margin-bottom: calc(var(--space-2xs) + 2px);
}

.box__description { 
    color: var(--black);
    line-height: calc(var(--space-md) - 4px);
    font-size: var(--font-xs);
    max-width: 316px;
    opacity: 0.7;
}

.info .box__description { 
    margin-top: calc(var(--font-2xs + 2px));
}

.chef { 
    max-width: 216px;
    max-height: 300px;
    margin-top: calc(var(--space-2xl) + 6px);
}

.box .text { 
    align-self: center;
    padding-top: var(--space-md);
}

@media screen and (min-width: 1000px) { 
    .box { 
        justify-content: space-between;
        flex-direction: row;
        margin: 0 auto;
        padding: 0px var(--space-2xl);
        margin: 0;
    }
}