@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* TODO - ADD BREAKPOINT VARIABLES AND ADD MORE REUSABLE CLASSES */
:root { 
    --white: #FFF;
    --rose: #FBDFDB;
    --dark: #111111;
    --black: #000;
    --purple: #6558C3;
    --danger: #DC4747;
    --gray: #777777;
    --gray-light: #EEEEEE;
    --gray-medium: #999999;
    --gray-dark: #444444;

    --font-3xs: 12px;
    --font-2xs: 14px;
    --font-xs: 18px;
    --font-sm: 20px;
    --font-md: 24px; 
    --font-lg: 32px;
    --font-xl: 36px;

    --space-2xs: 8px;
    --space-xs: 16px; 
    --space-sm: 20px; 
    --space-md: 30px;
    --space-lg: 40px; 
    --space-xl: 50px; 
    --space-2xl: 60px;
}

* { 
    margin: 0;
    padding: 0; 
    outline: none;
    box-sizing: border-box;
}

body, input, button, textarea { 
    font-family: 'Roboto', sans-serif;
}

button, 
a { 
    cursor: pointer;
}

/* === Utilities / Components === */

.container { 
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

.text { 
    line-height: 28px;
    font-size: var(--font-xs);
    color: var(--gray-dark);
}

.text.information { 
    white-space: pre-line;
}

.hidden { 
    display: none;
}

.title,
.subtitle { 
    color: var(--dark);
}

.font-xs { 
    font-size: var(--font-xs)
}

.font-sm { 
    font-size: var(--font-sm)
}

.font-md { 
    font-size: var(--font-md)
}

.font-lg { 
    font-size: var(--font-lg)
}

.font-xl { 
    font-size: var(--font-xl)
}

.row { 
    display: flex;
    flex-direction: row;
}

/* === Header === */

.header { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.header > .container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header--admin { 
    background: var(--dark);
}

.header__nav-link { 
    text-decoration: none;
}

.header__title { 
    color: var(--dark);
    font-family: serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

.header--admin .header__title { 
    color: var(--white);
}

.header-list { 
    list-style: none;
    display: flex;
    align-items: center;

    margin-top: 10px;
}

.header-list__item:not(:last-child) { 
    margin-right: 30px;
}

.header__link { 
    color: var(--dark);
    text-decoration: none;
    font-size: calc(var(--font-2xs) + 2px);
}

.header__link.active { 
    font-weight: bold;
}

.header__link.header__link---admin { 
    color: var(--white);
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) { 
    .header { 
        flex-direction: row;
        justify-content: unset;
        margin: 0 auto;
    }

    .header > .container { 
        padding: 0px;
        display: flex;
        flex-direction: row;
    }

    .header nav { 
        flex-grow: 1;
        margin-left: 122.4px;
    }

    .header ul { 
        margin-top: 0;
    }
}

/* === Receitas e Cards === */

.recipes, .chefs { 
    padding: 50px 0;
}

.recipes__title { 
    color: var(--dark);
    font-size: 24px;
    margin: 0 0 20px 14px;
}

.grid { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card { 
    display: flex;
    flex-direction: column; 
    text-align: left;
    margin-bottom: 20px;
}

.card--secondary { 
    display: grid; 
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    width: 100%;
    margin-bottom: 16px;
    margin-left: 16px;
}

@media screen and (min-width: 1000px) { 
    .card--secondary { 
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

.card__img { 
    max-width: 300px;
    border-radius: 15px;
    min-height: 120px;
}

.card--secondary .card__img { 
    max-width: 172px;
    min-height: 80px;
}

.card--secondary .card__img---rounded { 
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

a.card,
a.card--secondary { 
    text-decoration: none;
}

.card .card-info { 
    margin-top: 20px;
}

.card-info__title { 
    color: var(--dark);
    font-size: 18px;
    display: block;
}

.card-info__author { 
    color: var(--gray);
    font-size: var(--font-2xs);
}

.card-info__action,
.field-container__action { 
    color: var(--purple);
    text-decoration: none;
    display: block;
    font-size: var(--font-2xs);
    font-weight: bold;
    margin-top: 10px;
}

a.card-info__action:hover,
.field-container__action:hover { 
    text-decoration: underline;
}

.card--cursor { 
    cursor: pointer;
}

.card:hover .card__title--underline,
.card--secondary:hover .card__title--underline { 
    text-decoration: underline;
}

@media screen and (min-width: 1000px) { 
    .grid { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .grid.grid--two_columns { 
            grid-template-columns: repeat(2, 1fr);
    }

    .grid.grid--three_columns { 
        grid-template-columns: repeat(3, 1fr);
    }

    .grid.grid--four_columns { 
        grid-template-columns: repeat(4, 1fr);
    }

    .recipes .title { 
        margin-left: 0;
        font-weight: bold;
    }

    .card { 
        margin-bottom: 0;
    }
}

/* === Footer === */

.footer { 
    background-color: var(--gray-light);
    text-align: center;
    padding: 23px 0px;
}

.footer__text { 
    color: var(--gray);
    font-size: 14px;
}

/* === Buttons === */

.show-button { 
    border: none;
    background: none; 
    color: var(--gray-medium);
    font-weight: bold;
    font-size: var(--font-3xs);
}

.show-button:hover { 
    color: var(--gray);
}
/* === Lists === */

.list { 
    line-height: 28px;
    color: var(--gray-dark);
    font-size: var(--font-xs);
    list-style: none;
}

.list li::before { 
    content: "- ";
    color: var(--black);
}

.button { 
    border-radius: 4px; 
    color: var(--white);
    background: var(--purple);
    border: none;
    min-width: 136px;
    min-height: 37px;
    font-size: calc(var(--font-xs) - 2px);
    font-weight: bold;
    transition: filter .3s;
}

.button:hover { 
    filter: grayscale(45%);
}

a.button { 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

input.button { 
    cursor: pointer;
}

.button.button--delete { 
    background: var(--danger);
}

/* == Form == */ 

.recipe__form { 
    padding: 0 10px;
}

@media screen and (min-width: 1000px) { 
    .recipe__form { 
        padding: 0px;
    }
}

.field-container { 
    display: flex; 
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;
}

.field-container > div { 
    display: inherit;
    flex-direction: column;
}

button.field-container__action { 
    background: none;
    border: none;
    align-self: flex-start;
}

.label { 
    color: var(--dark);
    font-size: 16px;
    font-weight: bold;
}

.field-container .label { 
    margin-bottom: 10px;
}

.field { 
    min-height: 49px;
    background: var(--white);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: var(--dark);
    padding: 0 20px;
}

.field---select {
    color: var(--gray);
}

select option[value=""][disabled] {
    display: none;
}

.field + .field { 
    margin-top: 10px;
}

textarea.field { 
    resize: none;
    padding: 18px 20px;
    white-space: pre-line;
}


