{% extends "layouts/admin.njk" %}

{% block head %}
    <title> Foodfy | Bem vindo Laura</title>
{% endblock %}

{% block content %}
    <form
        action="/admin/profile?_method=PUT"
        method="POST"
        data-schema="profile"
        class="submit-form"
    >
        <section class="users container">
            <header class="section-header">
                <h1 class="title font-md">{{__("welcome")}}, {{user.name}}</h1>
                <div class="actions-container">
                    <button class="button font-xs" type="submit">{{__("buttons.save")}}</button>
                </div>
            </header>
            <div class="users__form">
                    {% include "includes/profile/fields.njk" %}
            </div>
        </section>
    </form>
{% endblock %}
