{% extends "layouts/admin.njk" %}

{% block head %}
    <title> Foodfy | Criando receita</title>
{% endblock %}

{% block content %}
    <form
        action="/admin/recipes"
        method="POST"
        enctype="multipart/form-data"
        class="submit-form"
        data-schema="recipes"
    >
        <section class="recipes recipes---admin container">
            <header class="section-header">
                <h1 class="title font-md">Criando receita</h1>
                <div class="actions-container">
                    <button class="button" type="submit">Salvar receita</button>
                </div>
            </header>
            <div class="recipe__form container">
                    {% include "includes/recipes/fields.njk" %}
            </div>
        </section>
    </form>
{% endblock %}
