{% extends "layouts/admin.njk" %}

{% block head %}
    <title> Foodfy | Editando {{recipe.title}}</title>
{% endblock %}

{% block content %}
    <form
        id="deleteForm"
        style="display: none;"
        action="/admin/recipes/{{recipe.id}}?_method=DELETE"
        method="POST"
    >
    </form>
    <form
        id="updateForm"
        class="submit-form"
        action="/admin/recipes/{{recipe.id}}?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        data-schema="recipes"
    >
        <section class="recipes recipes---admin container">
            <div class="row">
                <h1 class="title font-md">Editando receita</h1>
                <div class="actions-container">
                    <input
                        class="button button--delete"
                        onclick="DeleteAlert.run(event, 'Você tem certeza que deseja deletar essa receita?')"
                        type="submit"
                        form="deleteForm"
                        value="Deletar"
                    />
                    <input class="button" type="submit" form="updateForm" value="Salvar" />
                </div>
            </div>
            <div class="recipe__form container">
                    {% include "includes/recipes/fields.njk" %}
            </div>
            </section>
    </form>
{% endblock %}
