{% extends "admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipe.css"/>
    <title> Foodfy Admin | Editar {{recipe.title}}
    </title>
{% endblock %}

{% block content %}
    <form id="deleteForm" class="recipes recipes--admin container" style="display: none;" action="/admin/recipes/{{recipe.id}}?_method=DELETE" method="POST"></form>
    <form id="updateForm" class="recipes recipes--admin container" action="/admin/recipes/{{recipe.id}}?_method=PUT" method="POST">
        <!-- Prevent the form to be submitted with the enter key - If you want to continue with that behavior, just remove it -->
        <!-- Reason: A keyup event with the enter key on a input will trigger the submit event and lose the main focus of the data -->        
        <button type="submit" onclick="return false;" style="display:none;"></button>

        <div class="row">
            <h1 class="title font-md">Editando receita</h1>
            <div class="actions-container">
                <input class="button button--delete font-xs" type="submit" form="deleteForm" value="Deletar"></input>
                <input class="button font-xs" type="submit" form="updateForm" value="Salvar receita"></input>
            </div>
        </div>
        <section class="recipe__form container">
                {% include "includes/recipes/fields.njk" %}
        </section>
    </form>
{% endblock %}

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock %}