{% extends "admin/layout.njk" %}

{% block head %}
    <title>Foodfy Admin | Receitas </title>
{% endblock %}

{% block content %}
<section class="recipes recipes--admin container">
        <div class="row">
            <h1 class="title font-md">Gerenciar receitas<h1/>
            <a class="button" href="/admin/recipes/create">Criar receita</a>
        </div>
        <div class="grid grid--two_columns">
            {% for recipe in recipes %}
                <div class="card--secondary">
                    <img class="card__img" src="{{recipe.photo}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
                    <div class="card-info">
                        <span class="card-info__title">{{recipe.title}}</span>
                        <small class="card-info__subtitle">{{recipe.chef_name}}</small>
                        <a class="card-info__action" href="/admin/recipes/{{recipe.id}}"}}>Visualizar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- recipes section end -->
{% endblock %}
