{% extends "admin/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/details.css"/>
    <title> Foodfy Admin | {{recipe.title}}
    </title>
{% endblock %}

{% block content %}
    <main class="recipes recipes--admin container">
        <div class="row">
            <h1 class="title font-md">Receita: {{recipe.title}}</h1>
            <div class="actions-container">
                <a class="button font-xs" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
            </div>
        </div>
        <section class="details__info container">
            <img class="details__image---big" src="{{recipe.image}}" alt="Receita de {{recipe.title}}" title={{recipe.title}} aria-label={{recipe.title}}/>
            <h1 class="details__title title font-xl">{{recipe.title}}</h1>
            <h3 class="details__subtitle">{{recipe.author}}</h3>
        </section>
        <section class="recipe__ingredients container">
            <div class="row">
                <h3 class="subtitle font-md">Ingredientes</h3>
            </div>
            <ul class="list js-list ingredients">
                {% for ingredient in recipe.ingredients %}
                    <li>
                        {{ingredient}}
                    </li>
                {% endfor %}
            </ul>

        </section>
        <section class="recipe__preparation container">
            <div class="row">
                <h3 class="subtitle font-md">Modo de preparo</h3>
            </div>
            <ul class="list js-list preparation">
                {% for preparation in recipe.preparations %}
                    <li>
                        {{preparation}}
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% if recipe.information %}
            <section class="recipe__information container">
                <div class="row">
                    <h3 class="subtitle font-md"font-md>Informações adicionais</h3>
                </div>
                <p class="text js-text information">{{recipe.information}}</p>
            </section>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock %}