<div class="field-container">
    <label class="label" for="name">Nome</label>
    <input
        type="text"
        name="name"
        id="name"
        class="field {% if validationErrorMessages.name %}error{% endif %}"
        value="{{registedUser.name}}"
        placeholder="Digite o nome completo"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.name %}
        <span class="error-message">{{validationErrorMessages.name}}</span>
    {% endif %}
</div>

<div class="field-container">
    <label class="label" for="email">Email</label>
    <input
        type="email"
        name="email"
        id="email"
        class="field {% if validationErrorMessages.email %}error{% endif %}"
        value="{{registedUser.email}}"
        placeholder="Digite o email"
        oninput="FormValidator.validate(this)"
    />
    {% if validationErrorMessages.email %}
        <span class="error-message">{{validationErrorMessages.email}}</span>
    {% endif %}
</div>

<div class="field-container field-container--checkbox">
    <input
        type="checkbox"
        name="is_admin"
        id="is_admin"
        class="field"
        {% if registedUser.is_admin %} checked {% endif %}
    />
    <label class="label" for="is_admin">Administrator</label>
</div>

<input type="hidden" name="currentEmail" value="{{registedUser.email}}" />
