<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico">
    {% include "includes/head.njk" %}
    {% block head %}
    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="header__link" href="/admin/login">
                <h1 class="header__title">Foodfy</h1>
            </a>
        </div>
    </header>

    <main class="auth-container">
        {% include "includes/messages.njk" %}
        {% block content %}
        {% endblock %}
    </main>

    {% include "includes/scripts.njk" %}
</body>
</html>
