{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/recipe.css"/>
    <title> Foodfy | {{recipe.title}}
    </title>
{% endblock %}

{% block content %}
    <main class="recipes">
        <section class="recipe__info container">
            <img class="recipe__image" src="{{recipe.image}}" alt="Receita de {{recipe.title}}" title={{recipe.title}} aria-label={{recipe.title}}/>
            <h1 class="recipe__title title font-xl">{{recipe.title}}</h1>
            <h3 class="recipe__author">{{recipe.author}}</h3>
        </section>
        <section class="recipe__ingredients container">
            <div class="row">
                <h3 class="subtitle font-md">Ingredientes</h3>
                <button onclick="handleShow('.js-list.ingredients', '.js-show-button.btn-ingredients')" class="show-button js-show-button btn-ingredients" data-target=".recipe-ingredients .list">Esconder</button>
            </div>
            <ul class="list js-list ingredients">
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}
                    </li>
                {% endfor %}
            </ul>

        </section>
        <section class="recipe__preparation container">
            <div class="row">
                <h3 class="subtitle font-md"font-md>Modo de preparo</h3>
                <button onclick="handleShow('.js-list.preparation', '.js-show-button.btn-preparation')" class="show-button js-show-button btn-preparation">Esconder</button>
            </div>
            <ul class="list js-list preparation">
                {% for intruction in recipe.preparation %}
                    <li>{{intruction}}
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% if recipe.information %}
            <section class="recipe__information container">
                <div class="row">
                    <h3 class="subtitle font-md"font-md>Informações adicionais</h3>
                    <button onclick="handleShow('.js-text.information', '.js-show-button.btn-information')" class="show-button js-show-button btn-information">Esconder</button>
                </div>
                <p class="text js-text information">{{recipe.information}}</p>
            </section>
        {% endif %}
    </main>
{% endblock %}

{% block scripts %}
    <script src="/scripts.js"></script>
{% endblock %}