{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block content %}
<section class="recipes container">
    <div class="grid">
    {% for recipe in recipes %} 
        <a class="card card--cursor js-card" href="/receitas/{{recipes.indexOf(recipe)}}"}}>
            <img class="card__img js-m" src="{{recipe.image}}" alt="Receita de {{recipe.title}}" title="{{recipe.title}}" aria-hidden="true"/>
            <div class="card-info">
                <span class="card-info__title card__title--underline">{{recipe.title}}</span>
                <small class="card-info__author">{{recipe.author}}</small>
            </div>
        </a>
    {% endfor %}  
    </section>
    <!-- recipes section end -->

    <!-- modal init -->
    <div class="modal-overlay js-modal-overlay">
        <div class="modal js-modal">
            <div>
                <!-- modal elements will be populated with content on recipe card clicks -->
                <img class="modal__img js-modal__img" src="" alt="" title="" aria-hidden="true" />
                <h3 class="modal__title js-modal__title"></h3>
                <span class="modal__author js-modal__author"></span>
            </div>
        </div>
    </div>
{% endblock %}


